#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_CMAKE_EXTRA_OPTIONS  += -DENABLE_TESTS=OFF
DEB_DH_INSTALL_SOURCEDIR := debian/tmp
DEB_DH_INSTALL_ARGS      := --autodest
DEB_COMPRESS_EXCLUDE     := .js

DEB_DH_SHLIBDEPS_ARGS_libtypelib1-ruby1.8 += -Llibtypelib1

common-build-indep:: doc-build
doc-build: debian/stamp-makefile-build
	+$(DEB_MAKE_INVOKE) doc

